body {
  font-family: "Poppins", sans-serif;
}
.jumbotron {
  background-image: url("img/bg.jpg");
  background-size: cover;
  height: 500px;
}
.my-text {
  font-size: 50px;
}
.lead {
  font-size: 20px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
.btn {
  color: white !important;
}
.btn {
  color: white !important;
}
.nav-link {
  color: white !important;
}
